<select class="form-control" id="indicador">
    <option value=0>-Indicador-</option>
    <% for (var i=0; i < fichas.length; i ++){%>
    <option value="<%= fichas[i].id %>"><%= fichas[i].nombre %></option>
    <%}%>
</select>
