<!DOCTYPE html>
<html lang="es">


<!-- PIDOS-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">-->
    <link href="/stylesheets/main.css" rel="stylesheet">

    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/bower_components/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/bower_components/dgm-footer/dgm-footer.html">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<dgm-navbar></dgm-navbar>


<div class="container">
    <h1>Bienvenido al catálogo de indicadores de los Programas de Acción Específicos</h1>
<div class="row">
    <div class="col-sm-4"><!-- Elección de la Unidad Administrativa o Centro-->
        <select name="UA" id="unidad" class="form-control">
            <option value=0>-Unidad Administrativa-</option>
            <%for( var i=0;i<unidades.length;i++){%>
            <option value="<%= unidades[i].key%>"><%= unidades[i].value%></option>
            <%}%>
        </select></div>
    <div class="col-sm-4"><!-- Elección del PAE-->
        <select name="PAE" id="pae" class="form-control">
            <option value=0>-Programa de Acción Específico-</option>
            <option value=1>Sistema Nacional de Vigilancia Epidemiológica</option>
        </select></div>
    <div class="col-sm-4"><!-- Elección de indicador-->
        <select name="IND" id="indicador" class="form-control">
            <option value=0>-Indicador-</option>
            <option value=1>Índice de desempeño de la Red Nacional de Laboratorios de Salud Pública</option>
        </select></div>
</div>




</div>
<div class="container">
    <h1>Espacio para el mapa</h1>
</div>

<div class="container">
    <h1>Ficha técnica</h1>
</div>

<div class="container">
    <h1>Indicadores por estado</h1>
</div>

<div class="container">
    <h1>Datos</h1>
</div>

<dgm-footer></dgm-footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>


</body>
</html>