<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title><%= title %></title>

        <!-- Bootstrap -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

        <![endif]-->

        <style>
            .circle { display: inline-block; width: 30px; height: 30px; margin-right: 10px; border-radius: 50%; position: relative; top: 2.5px; }

            body{
                padding-top: 50px;
            }

            .axis text {
                font: 10px sans-serif;
            }
            .axis path,
            .axis line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

            .bar {
                fill: #56baec;
                fill-opacity: .8;
            }
            .bar:hover {
                fill: steelblue ;
            }
            .x.axis path {
                display: none;
            }

            #map {
                height: 100%;
                /*padding: 0;
                margin: 0;*/
                padding-top: 10px;
            }

            .campaign-banner{
                background-image: url( http://www.gob.mx/cms/uploads/organization/main_image/51/zika_1.jpg);
                background-repeat: no-repeat;
                min-height: 250px;
                background-position: center;
            }

            a.export,
            a.export:visited {
                color: #ffffff;
            }

            #lines path { stroke: steelblue; stroke-width: 3; fill: none; }
            #lines .axis path,
            #lines .axis line { fill: none; stroke: grey; stroke-width: 1; shape-rendering: crispEdges; }
        </style>

        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
    </head>
    <body id="indicators-catalog">
        <% include navbar.ejs %>
        <div class="bgimg">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center" id="icono_con"><img src="/img/logo_salud.png" style="width: 300px; padding-top: 75px"></p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h1>Bienvenido al MIIPPS: Monitoreo Integral de Indicadores de Prevención y Promoción de la Salud</h1>
            <div class="row">
                <div class="col-sm-4"><!-- Elección de la Unidad Administrativa o Centro-->
                    <label>Selecciona una unidad administrativa</label>
                    <select id="select_unidad" class="form-control">
                        <option value="">-Unidad Administrativa-</option>
                        <% for ( var i = 0; i < unidades.length; i++ ){ %>
                            <option value="<%= unidades[i].nombre%>"><%= unidades[i].nombre%></option>
                        <%}%>
                    </select>
                </div>
                <div class="col-sm-4"><!-- Elección del PAE-->
                    <label>Selecciona un PAE</label>
                    <select id="select_pae" class="form-control">
                        <option value="">-Programa de Acción Específico-</option>
                    </select>
                </div>
                <div class="col-sm-4"><!-- Elección de indicador-->
                    <label>Selecciona un indicador</label>
                    <select id="select_indicador" class="form-control">
                        <option value="">-Indicador-</option>
                    </select>
                </div>
            </div>
            <div id="anios" style="text-align: center"></div><!-- Elección de año-->
        </div>
        <div id="map" style="height: 500px"></div>
        <div id="map-popup">
            <table class="table">
                <tbody>
                    <tr>
                        <td width="30%"><strong>Estado:</strong></td>
                        <td width="70%"><span class="data-state"></span></td>
                    </tr>
                    <tr>
                        <td width="30%"><strong>Año:</strong></td>
                        <td width="70%"><span class="data-year"></span></td>
                    </tr>
                    <tr>
                        <td width="30%"><strong>Indicador:</strong></td>
                        <td width="70%"><span class="data-indicator"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <h2>Evaluación del desempeño</h2>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <p>Metas sexenales</p>
                    <ul class="graph-indicators graph-indicators-two">
                        <li>
                            <span class="graph-indicator graph-indicator__fulfillment"></span>
                            <span>Cumplimiento de la meta sexenal</span>
                        </li>
                        <li>
                            <span class="graph-indicator graph-indicator__under"></span>
                            <span>Por debajo de la meta sexenal</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <p>Semáforo y rangos del indicador</p>
                    <ul class="graph-indicators">
                        <li>
                            <span class="graph-indicator graph-indicator__excelent"></span>
                            <span>Desempeño excelente</span>
                        </li>
                        <li>
                            <span class="graph-indicator graph-indicator__regular"></span>
                            <span>Desempeño regular</span>
                        </li>
                        <li>
                            <span class="graph-indicator graph-indicator__bad"></span>
                            <span>Desempeño malo</span>
                        </li>
                        <li>
                            <span class="graph-indicator graph-indicator__insufficient"></span>
                            <span>Desempeño precario</span>
                        </li>
                        <li>
                            <span class="graph-indicator graph-indicator__no-data"></span>
                            <span>No evaluado</span>
                        </li>
                    </ul>
                </div>
            </div>
            <h2>Ficha técnica</h2>
            <div id ="ficha"></div>
            <button type="button" class="btn btn-primary btn-see-all">Ver tabla</button>
            <button type="button" class="btn btn-primary btn-hide-all">Ocultar tabla</button>
            <div id="indicators-table__container">
                <h2>Indicadores por estado</h2>
                <div id="tabla_indicador"></div>
            </div>
        </div>
        <!-- Gráfica de barras-->
        <div class="container-fluid">
            <h2>Comparativo entre estados</h2>
            <input type="checkbox"> Ordenar <br>
            <div id="g1"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Indicador a través del tiempo</h2>
                    <div id="lines"></div>
                </div>
            </div>
        </div>
        <div id="dashboard-container" class="container-fluid">
            <h1>Recién nacidos con bajo peso</h1>
            <h3>Esta gráfica permite filtrar los valores del indicador de acuerdo a la escolaridad de la madre.</h3>
            <div id='dashboard'></div>
        </div>
        <!--Tabla para exportar datos-->
        <div class="container-fluid statistics">
            <div class="row">
                <div class="col-md-12">
                    <h2>Descarga de datos</h2>
                    <div class="data-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <!--<th width="50%">Institución</th>-->
                                <th width="30%">Institución</th>
                                <th width="30%">Formato</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="api">
                                <td>Indicador</td>
                                <td>SSA</td>
                                <td>
                                    <span class="label" data-format="csv"><a href="#" class ="export">CSV</a></span>
                                    <!--<span class="label" data-format="xlsx">XLS</span>-->
                                    <!--<span class="label" data-format="pdf">PDF</span>-->
                                    <!--<a href="#" class ="export">CSV</a>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <script>
            $(document).ready(function () {

                function exportTableToCSV($table, filename) {

                    var $rows = $table.find('tr:has(td)'),

                        // Temporary delimiter characters unlikely to be typed by keyboard
                        // This is to avoid accidentally splitting the actual contents
                        tmpColDelim = String.fromCharCode(11), // vertical tab character
                        tmpRowDelim = String.fromCharCode(0), // null character

                        // actual delimiter characters for CSV format
                        colDelim = '","',
                        rowDelim = '"\r\n"',

                        // Grab text from table into CSV formatted string
                        csv = '"' + $rows.map(function (i, row) {
                            var $row = $(row),
                                $cols = $row.find('td');


                            return $cols.map(function (j, col) {
                            var $col = $(col),
                                text = $col.text();

                            return text.replace(/"/g, '""'); // escape double quotes

                        }).get().join(tmpColDelim);

                    }).get().join(tmpRowDelim)
                        .split(tmpRowDelim).join(rowDelim)
                        .split(tmpColDelim).join(colDelim) + '"',

                        // Data URI
                        csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

                    $(this)
                        .attr({
                            'download': filename,
                            'href': csvData,
                            'target': '_blank'
                        });
                }

                // This must be a hyperlink
                $(".export").on('click', function (event) {
                    // CSV
                    exportTableToCSV.call(this, $('#tabla_indicador>table'), 'Indicador MIIPPS.csv');

                    // IF CSV, don't do event.preventDefault() or return false
                    // We actually need this to be a typical hyperlink
                });
            });
        </script>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/bower_components/underscore/underscore-min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script src="https://d3js.org/topojson.v2.min.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>