<select class="form-control" id="pae">
    <option value=0>-Programa de Acción Específico-</option>
    <% for (var i=0; i < paes.length; i ++){%>
    <option value="<%= paes[i].id %>"><%= paes[i].nombre %></option>
    <%}%>
</select>
