<table class="table">

    <thead>
    <tr>
        <th>No.</th>
        <th>Entidad</th>
        <th>Valor del indicador</th>
        <th>Numerador </th>
        <th>Denominador</th>
        <th>Semaforo</th>
    </tr>
    </thead>

    <tbody>
    <% for ( var i=0; i< datos.length; i++){%>

    <tr>
        <td><%= i+1 %></td>
        <td><%= datos[i].nombre %></td>
        <td><%= datos[i].valor%></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <%}%>

    </tbody>
</table>